html {height: 100%; width: 100%; }
body{
	width: 100%; height: 100%;
	margin: 0; padding: 0; border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px; line-height: 15px;
	background: #EEE4B9;
}

img { border: none;}
a {color: #8D0D19;}
a:hover {color: #1A446C; }

#header {
	height: 70px;
	margin: 0; padding: 0; text-align: left;
	background: #1A446C; color: #D4E6F4;
}

#header h1 {padding: 1em; margin: 0;}

#main {
	height: 600px; padding: 0; widows: 100%;
	margin: 0; background: #EEE4B9;
}

#footer {
	clear: both;
	height: 2em; margin: 0; padding: 1em;
	text-align: center;
	background: #1A446C; color: #D4E6F4;
}

/* Navigation */
 #navigation {
 	float: left;
 	width: 150px; height: 100%;
 	margin: 0; padding: 0 2em;
 	color: #D4E6F4; background: #8D0D19;
 }

 #navigation a { color: #D4E6F4; text-decoration: none}
 #navigation a:hover {color: #FFFFFF;}
ul.subjects {
	margin: 1em 0; padding-left: 0; list-style: none; 
}

ul.pages {
	padding-left: 2em; list-style: square; font-weight: normal;
}
.selected {font-weight: bold;}

/* Page Content */
#page {
	float: left; height: 100%;
	padding-left: 2em; vertical-align: top;
	background: #EEE4B9;
}
#page h2{ color: #8D0D19; margin-top: 1em;}
#page p { color: black; font-weight: normal;
		font-size: 15px;	}

.view-content {
	border: 1px solid #999;
	margin: 1em;
	padding: 1em;
}


div.message{
	border: 2px solid #8D0D19;
	color: #8D0D19; font-weight: bold;
	margin: 1em 0 ; padding: 1 em;
}

.list {
	 color: red; font-weight: normal;
	 font-size: 15px;
}

/*errors */
.error {
	color: #8D0D19; border: 2px solid #8D0D19;
	margin: 1em ; padding: 1em;
}
.error ul{ padding-left: 2em;}














